<div class="form-area">
    <mat-card class="form-card">
  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
      <h4>Register an Account: </h4> 
      <mat-form-field class="full-width">
      <input matInput placeholder="Name" formControlName="name" id="name">
      <mat-hint *ngIf="contactForm.touched && f.name.errors?.required">Please input your Name</mat-hint>
      </mat-form-field>

      <div class="full-width shift" fxLayout="row" fxLayoutAlign="flex-start" fxLayoutGap="2vw">
          <label for="gender">Gender:</label>
          <mat-radio-group name="gender" id="gender" formControlName="gender">
              <div fxLayout="row" fxLayoutAlign="" fxLayoutGap="2vw">
              <mat-radio-button value="Male">Male</mat-radio-button>
              <mat-radio-button value="Female">Female</mat-radio-button>
              </div>
              <mat-hint *ngIf="contactForm.touched && f.gender.errors?.required">Please input your Gender</mat-hint>
          </mat-radio-group>
          </div>

      <mat-form-field class="full-width">
      <input matInput placeholder="Email" formControlName="email">
      <mat-hint *ngIf="contactForm.touched && f.email.errors?.required">Please input your Email</mat-hint>
      <mat-error *ngIf="contactForm.touched && f.email.errors?.email">Please input a valid email!</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width extra">
      <input matInput type="password" placeholder="Password" formControlName="password" id="password" showHideInput>
      <i matSuffix class="material-icons" showHideTrigger="password" [showHideStatus]="{ materialIcon: true, id: 'password' }"></i>
      <mat-hint *ngIf="contactForm.touched && f.password.errors?.required">Password is required</mat-hint>
      <mat-error *ngIf="contactForm.touched && f.password.errors?.minlength">Password must be at least 8 characters</mat-error>
      <mat-error *ngIf="contactForm.touched && f.password.errors?.pattern">Password must have at least 1 of: uppercase, lowercase, digit and special character (@,#,$)</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
          <input matInput type="password" placeholder="Re-Enter Password" formControlName="password2" id="password2" showHideInput>
          <i matSuffix class="material-icons" showHideTrigger="password2" [showHideStatus]="{ materialIcon: true, id: 'password2' }"></i>
          <mat-hint *ngIf="contactForm.touched && f.password2.errors?.required">Password is required</mat-hint>
      </mat-form-field>
      <div class="full-width error-field" *ngIf="contactForm.touched && contactForm.errors?.matchPassword">Passwords must match!</div>
      

      <mat-form-field class="full-width">
        <input matInput readonly [matDatepicker]="dob" [max]="startDate" placeholder="Date of Birth" formControlName="dob" >
        <mat-datepicker-toggle matSuffix [for]="dob"></mat-datepicker-toggle>
        <mat-datepicker #dob></mat-datepicker>
        <mat-hint *ngIf="contactForm.touched && f.dob.errors?.required">Please input your Date of Birth</mat-hint>
        <mat-error *ngIf="contactForm.touched && f.dob.errors?.ageValidation">Age must be at least 18</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="Address" formControlName="address">
        <mat-hint *ngIf="contactForm.touched && f.address.errors?.required">Please input your Address</mat-hint>
        </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput type="contact" placeholder="Contact No." formControlName="contact">
        <mat-hint *ngIf="contactForm.touched && f.contact.errors?.required">Please enter your Contact No.</mat-hint>
        <mat-error *ngIf="contactForm.touched && f.contact.errors?.pattern">Please enter a valid Contact No. (only numbers, +, - and brackets)</mat-error>
      </mat-form-field>
  
      <mat-form-field class="full-width extra">
              <mat-label>Select Country</mat-label>
              <mat-select name="country" formControlName="country">
                <mat-option *ngFor="let country of countries" value="{{country.name}}">
                  {{country.name}}
                </mat-option>
              </mat-select>
              <mat-hint *ngIf="contactForm.touched && f.country.errors?.required">Please enter your Country</mat-hint>
      </mat-form-field>
    
      <div  class="full-width" fxLayout="row" fxLayoutAlign="space-around">
      <button mat-raised-button class="submit-button" color="warn" type="reset" (click)="reset()">Cancel</button>
      <button mat-raised-button class="submit-button" color="accent" button type="submit" [disabled]="contactForm.invalid">Add User</button>
      </div>
    </form>
  </mat-card>
  </div>