.fixed-bg {
    background-color: lightblue;
    background-image: url('../assets/images/cloud-background.jpg');
    min-height: 100vh;
    width: 100vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Muli', sans-serif;
    text-align: center;
}

.mat-toolbar {
    background-color: #ffc107;
    color: #000;
    font-weight: 700;
}

.home {
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    font-family: 'Muli', sans-serif;
}

a:visited {
    color: #000;
}

.header {
    height: 60vh;
    font-weight: 900;
    font-size: 2.4rem;
    color: #fff;
    padding-top: 200px;
    letter-spacing: 0.2em;
    text-align: center;
    text-shadow: 3px 3px 10px #333; 
}

.mat-raised-button {
    border: 2px solid #fff;
    background: rgba(173,216,230,0.4);
    font-weight: 700;
    font-family: 'Muli', sans-serif;
    margin-right: 10px;
}

.mat-raised-button:hover {
    background: rgba(255,193,7,0.4);
    background: rgba(255,255,255,0.4);
    border: 2px solid #ffc107;
}

.block {
    height: 130vh;
}

@media only screen and (max-width: 350px) {
    .block {
        height: 150vh;
    }
  }
