/* You can add global styles to this file, and also import other style files */

html, body { 
    scroll-behavior: smooth;
    margin: 0;
	padding: 0;
    border: 0;
    width: 100vw;
    font-size: 100%;
    position: absolute;
	font: inherit;
    vertical-align: baseline;
    overflow: hidden;
    overflow-y: auto;
}
body {
    margin: 0; 
    font-family: 'Muli', sans-serif;
    background-color:#000;
    color: #fff;
    font-size: 10px;
}
